@charset "utf-8";

html{
    font-size: 62.5%;
}

body{
    color: #333333;
    font-family:"Open Sans",'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
    font-size: 1.6rem;
}

img{
    max-width:100%;
    height:auto;
}

#view{
    margin: auto;
    max-width:70%;
}
.directionsContainer{
    margin: auto;
    max-width:70%;

}
#myMap{
    margin: auto;
    max-width:70%;
    height:500px;
}